/*
	Author: Chris Eastman
	Since: September 28, 2013
*/

/*Set default values for entire page*/
*{
	margin:0;
	padding:0;
	border:0;
}

/*Font size and family*/
body{
	font-size:16px;	
	font-family:Tahoma, Geneva, sans-serif;
}

/*Header Styles*/
header{
	padding-top:10px;
	padding-bottom:80px;
	padding-left:10%;
	padding-right:10%;
}
header > h1{
	float:left;
	margin-right:2em;
	width: 102px; 
  	height: 110px;
  	background: url("../images/net-head logo.png");
  	text-indent: -9999px;	
}
header > h2{
	position:relative;
	top:2em;
	font-size:2.2em;
	font-style:italic;	
}
/*Navigation Styles*/
nav{
	width:100%;
	background:#3a87b5;
	height:3em;
	border-top:black 2px solid;
	border-bottom:black 2px solid;
	margin-bottom:.5em;
}
nav > div{
	float:left;
	width:16.6%;
	text-align:center;
	font-size:1.2em;
	border-radius:2px;
}	
nav > div:first-child{
	border-left:0;	
}
nav > div > a{
	display:block;
	width:100%;	
	color:white;
	text-decoration:none;
	line-height:2.5em;
	border-left:2px black solid;
}
nav > div > a.active{
	background:white;
	color:#3a87b5;
}
nav > div > a:hover{
	background:white;
	color:#3a87b5;
}
/*Wrapper/container styles*/
#wrapper{
	margin:0 auto;
	width:52%;	
}

/*Main Section Styles*/
section#main > h3{
	margin-bottom:10px;	
	font-size:1.5em;
}
#main > p{
	margin-top:20px;	
}

/*Footer/Push div Styles*/
footer, .push{
	height:4em;
	width:100%;
}
footer{
	text-align:center;	
	clear:both;
}
footer > p{
	position:relative;
	top:50px;
	font-size:.9em;	
}

/*Aside Styles (Keep Connected)*/
aside{
	float:right;
	border:1px solid black;
	height:80px;
	width:180px;
	margin-right:7%;
	position:relative;
	top:300px;	
	padding-5px;
	border-radius:10px;
}
aside > h4{
	text-align:center;	
	margin-bottom:10px;
}
aside > a > img{
	display:block;
	margin:0 auto;	
}

/*Action Button Styels*/
a.button{
	float:right;
	position:relative;
	top:300px;	
	clear:both;
	margin-right:7%;
	margin-top:10px;
}

/*Project Page Specific Styles*/
#wrapper.projects{
	width:75%;
	text-align:center;	
}
#wrapper.projects > section#main > div{
	border:1px black solid;
	radius:10px;
	height:320px;
	width:29%;	
	float:left;
	margin-right:5%;
	margin-top:1em;
	background:#3a87b5;
	color:white;
}
#wrapper.projects > section#main > div > a{
	color:white;	
}
#wrapper.projects > section#main > div > a:visited{
	color:white;	
}
#wrapper.projects > section#main > div > a:hover{
	color:black;	
}
#wrapper.projects > section#main > div + div + div{
	margin-right:0;	
}
#wrapper.projects > section#main > div > img{
	width:90%;
	margin:0 auto;
	height:250px;	
	margin-bottom:10px;
}
.projects > #main > div > h4{
	margin-bottom:10px;	
}

/*About Page specific Styles*/
#wrapper.about > section#main > img{
	display:block;
	width:200px;
	height:200px;
	float:right;	
	margin-left:13px;
	margin-bottom:13px;
}
#wrapper.about > section#main > p{
	text-align:justify;
	margin-bottom:10px;
}
footer.about{
	padding-top:1em;	
}

/*Services Page Specific Styles*/
#wrapper.services > section#main > p{
	text-align:justify;
	margin-bottom:10px;	
}
#wrapper.services > section#main > ul{
	margin-left:20px;
	margin-bottom:10px;	
}
footer.services, #push.services{
	height:2em;	
}

/*Contact page specific styles*/
footer.contact, #push.contact{
	padding-top:10em;	
}
aside.contact{
	top:0;
	clear:both;
	float:left;
	margin-top:30px;	
}

/* http://www.menucool.com */
/*Slider Styles*/
#sliderFrame 
{
    position:relative;
    width:700px;
    margin: 0 auto; /*center-aligned*/
	margin-bottom:1.5em;
}

#slider, #slider div.sliderInner {
    width:700px;height:306px;/* Must be the same size as the slider images */
}

#slider {
	background:#fff url(../images/loading.gif) no-repeat 50% 50%;
	position:relative;
	margin:0 auto; /*center-aligned*/
    transform: translate3d(0,0,0);
    box-shadow: 0px 1px 5px #999999;
}

/* image wrapper */
#slider a.imgLink, #slider div.video {
	z-index:2;
	position:absolute;
	top:0px;left:0px;border:0;padding:0;margin:0;
	width:100%;height:100%;
}
#slider .video {
	background:transparent url(video.png) no-repeat 50% 50%;
}

/* Caption styles */
#slider div.mc-caption-bg, #slider div.mc-caption-bg2 {
	position:absolute;
	width:100%;
	height:auto;
	padding:10px 0;/* 10px will increase the height.*/
	left:0px; /*if the caption needs to be aligned from right, specify by right instead of left. i.e. right:20px;*/
	bottom:0px;/*if the caption needs to be aligned from top, specify by top instead of bottom. i.e. top:150px;*/
	z-index:3;
	overflow:hidden;
	font-size: 0;
}
#slider div.mc-caption-bg 
{
    /* NOTE: Its opacity is to be set through the sliderOptions.captionOpacity setting in the js-image-slider.js file.*/
	background:Black;/* or any other colors such as White, or: background:none; */
}
#slider div.mc-caption-bg2 {
    background:none;
}
#slider div.mc-caption {
	font: bold 14px/20px Arial;
	color:#EEE;
	z-index:4;
	text-align:center;
    background:none;
}
#slider div.mc-caption a {
	color:#FB0;
}
#slider div.mc-caption a:hover {
	color:#DA0;
}


/* ------ built-in navigation bullets wrapper ------*/
/* Note: check themes\2\js-image-slider.css to see how to hide nav bullets */
#slider div.navBulletsWrapper  {
    top:300px;/* Its position is relative to the #slider */
	text-align:center;
	background:none;
	position:relative;
	z-index:5;
}

/* each bullet */
#slider div.navBulletsWrapper div 
{
    width:11px; height:11px;
    font-size:0;color:black;/*hide the index number in the bullet element*/
    background:transparent url(../images/bullet.png) no-repeat 0 0;
    display:inline-block; *display:inline; zoom:1;
    overflow:hidden;cursor:pointer;
    margin:0 6px;/* set distance between each bullet*/
}

#slider div.navBulletsWrapper div.active {background-position:0 -11px;}


/* --------- Others ------- */

#slider div.loading 
{
    width:100%; height:100%;
    background:transparent url(loading.gif) no-repeat 50% 50%;
    filter: alpha(opacity=60);
    opacity:0.6;
    position:absolute;
    left:0;
    top:0; 
    z-index:9;
}

#slider img, #slider>b, #slider a>b {
	position:absolute; border:none; display:none;
}

#slider div.sliderInner {
	overflow:hidden; 
	-webkit-transform: rotate(0.000001deg);/* fixed the Chrome not crop border-radius bug*/
	position:absolute; top:0; left:0;
}

#slider>a, #slider video, #slider audio {display:none;}

/* ---------- Business Contacts Styles -----------------*/
INPUT, SELECT
{
    color: #003333;
    font-size: 90%;
    border-bottom: #d3d3d3 1px solid;
    border-left: #d3d3d3 1px solid;
    border-top: #d3d3d3 1px solid;
    border-right: #d3d3d3 1px solid;
}

INPUT[type="submit"]
{
    background-color: #336699;
    color: #f0e68c;
	cursor:pointer;
}

.businesslogin > #main, .business > #main{
	min-height:375px;	
}

.businesslogin > #mail > ul > li{
	list-style:none;	
}